# compilados y artefactos
bin/
obj/
build/
out/
dist/
target/
Debug/
Release/
node_modules/
.gradle/
.gradle-user-home/
.dart_tool/
packages/
__pycache__/
*.pyc
*.apk
*.aab
*.so
*.a
*.dll
*.exe
*.pdb
*.log
*.rar
*.zip
*.7z
.vs/
.vscode/
.idea/
.venv/
venv/
env/
env1/
__pycache__/
local.properties
Desktop.ini
.DS_Store
Thumbs.db
